main {
  padding-bottom: 2rem;
  background-color: black;
  background-image: url(../../assets/img/netflix-icon.avif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.container h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ccc;
  padding-block: 1rem;
}
